/blog/__pycache__/*
/putin_web/__pycache__/*
/users/__pycahce__/*
/discord_bind/__pycache__*
*/__pycache__/*
/media/*
webenv/*
static/*
putin/static/putin/node_modules/*
blog/static/blog/node_modules/*
users/static/users/node_modules/*
letsencrypt/*
certbot-auto