{% extends "putin/base.html" %}
{% block content %}
		<article class="media content-section">
      <img class="rounded-circle article-img" src="https://cdn.discordapp.com/avatars/{{ post.author.discorduser.uid }}/{{ post.author.discorduser.avatar }}.png?size=1024">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.author.discorduser.username }}#{{ object.author.discorduser.discriminator }}</a>
              <small class="text-muted">{{ object.date_posted|date:"F d Y" }}</small>
              {% if object.author == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
              </div>
              
              {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
          </div>
      </article>
      {% for comment in comments %}
      <article class="media content-section">
          <img class="article-img" src="https://cdn.discordapp.com/avatars/{{ comment.author.discorduser.uid }}/{{ comment.author.discorduser.avatar }}.png?size=128" alt="{{ comment.author.discorduser.username }}">
          <div class="article-metadata">
              <a href="#" class="mr-2">{{ comment.author.discorduser.username }}#{{ comment.author.discorduser.discriminator }}</a>
              {% if comment.edited %}
              <small class="text-muted">{{ object.date }} (edited)</small>
              {% else %}
              <small class="text-muted">{{ object.date }}</small>
              {% endif %}
              {% if comment.author == user %}
              <div>
                  <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'comment-edit' object.id comment.id %}">Edit</a>
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' object.id comment.id %}">Delete</a>
              </div>
              {% endif %}
              <h2 class="article-title">{{ comment.title }}</h2>
              <p class="article-content">{{ comment.message }}</p>
          </div>
      </article>
      {% endfor %}
{% endblock content %}