body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  background: #363d47;
  color: #ccd7e2;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #a7c9d1;
}

ul {
  margin: 0;
}

.site-header .navbar-nav .nav-link {
  color: #13a588;
}

.site-header .navbar-nav .nav-link:hover {
  color: #a6bcdb;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #545e6d;
  padding: 10px 20px;
  border: 1px solid #363f47;
  border-radius: 3px;
  margin-bottom: 20px;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  align-self: center;
  animation: float 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

.article-title {
  color: #1d519b;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}