{% extends 'putin/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom-mb-4">Settings of {{ guild.name }}</legend>
				{{ settings|crispy }}
				<p>Logging Channel</p>
				<select name="logging_channel" id="id_logging_channel" class="form-control">
					<option value="{{ selected.id }}" selected="selected">{{ selected.name }}</option>
					{% for channel in channels %}
							<option value="{{ channel.id }}">{{ channel.name }}</option>
					{% endfor %}
				</select>
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Apply</button>
			</div>
		</form>
	</div>
{% endblock content %}