{% extends "putin/base.html" %}
{% block content %}
<style type="text/css">
  .card {
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
    max-width: 150px;
    transition: width 0.3s
}

  .card:hover{
    max-width: 200px;
  }
</style>
<!-- <div class="content-section"> -->
<div class="card-columns">
  {% for guild in guilds %}
  <div class="card">
    <img class="card-img-top" style="max-width: 150px;" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png" alt="{{ guild.name }}">
    <div class="card-body">
      <h4 class="card-title">{{ guild.name }}</h4>
      <p class="card-text">
        
      </p>
      <a href="{% url 'putin-dashboard' %}?id={{ guild.id }}" class="btn btn-primary">Settings</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
