{% extends "putin/base.html" %}
{% block content %}
<style type="text/css">
  .card {
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
    width: 150px;
    length: 140px;
    transition: 0.3s;
}  
</style>
<!-- <div class="content-section"> -->
  {% for guild in guildlist %}
  {% if guild.enum == 0 %}
  <div class="card-deck">
  {% endif %}
  {% if guild.enum == 3 %}
  <div class="card-deck">
  {% endif %}
  {% if guild.enum == 6 %}
  <div class="card-deck">
  {% endif %}
  {% if guild.enum == 9 %}
  <div class="card-deck">
  {% endif %}
  {% if guild.enum == 12 %}
  <div class="card-deck">
  {% endif %}
  {% if guild.enum == 15 %}
  <div class="card-deck">
  {% endif %}
    <div class="card">
      <img class="card-img-top" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png" alt="{{ guild.name }}">
      <div class="card-body">
        <h4 class="card-title">{{ guild.name }}</h4>
        <p class="card-text">
          
        </p>
        <a href="{% url 'putin-dashboard' %}?id={{ guild.id }}" class="btn btn-primary">Settings</a>
      </div>
    </div>
    <br>
    <br>
  {% if guild.enum == 0 %}
  </div>
  <br>
  {% endif %}
  {% if guild.enum == 3 %}
  </div>
  <br>
  {% endif %}
  {% if guild.enum == 6 %}
  </div>
  <br>
  {% endif %}
  {% if guild.enum == 9 %}
  </div>
  <br>
  {% endif %}
  {% if guild.enum == 12 %}
  </div>
  <br>
  {% endif %}
  {% if guild.enum == 15 %}
  </div>
  <br>
  {% endif %}
  {% endfor %}
{% endblock content %}
